Repository ppiont/omnigen: changes, and which pre-commit hooks are due for each by the changed paths.
All: swagger-gen, gofmt, go-vet

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
repos:
  # Local hooks for this repository
  - repo: local
    hooks:
      # Regenerate Swagger docs when handler files change
      - id: swagger-gen
        name: Regenerate Swagger docs
        entry: bash -c 'cd backend && swag init -g cmd/api/main.go -o docs'
        language: system
        files: ^backend/internal/api/handlers/.*\.go$
        pass_filenames: false
        verbose: true

      # Format Go code
      - id: gofmt
        name: Go Format
        entry: gofmt -w
        language: system
        files: \.go$
        pass_filenames: true

      # Run Go vet
      - id: go-vet
        name: Go Vet
        entry: bash -c 'cd backend && go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^backend/docs/swagger\.json$  # Exclude generated Swagger JSON
      - id: check-yaml
        exclude: ^backend/docs/swagger\.yaml$  # Exclude generated Swagger YAML
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']

Add UI improvements: title generation, media upload bar, brand presets, and fixes
  backend/cmd/api/main.go
  backend/internal/api/handlers/generate.go
  backend/internal/api/handlers/generate_title.go
  backend/internal/api/server.go
  backend/internal/aws/config.go
  backend/internal/domain/job.go
  backend/internal/service/secrets.go
  backend/scripts/setup-local-dynamodb.sh
  frontend/src/components/VideoCard.jsx
  frontend/src/components/create/MediaUploadBar.jsx
  frontend/src/contexts/AuthContext.jsx
  frontend/src/pages/Create.jsx
  frontend/src/pages/VideoLibrary.jsx
  frontend/src/styles/create.css
  frontend/src/styles/dashboard.css
  frontend/src/styles/videos.css
  frontend/src/utils/api.js
  frontend/src/utils/toast.js
Due: swagger-gen, gofmt, go-vet

add automatic token refresh
  frontend/src/pages/Create.jsx
Due: none

another gpt4o test tweak
  backend/internal/adapters/gpt4o_adapter.go
Due: gofmt, go-vet

Fix Job struct: Add Phase 1 enhanced prompt fields
  backend/internal/domain/job.go
Due: gofmt, go-vet

Complete Job struct merge: Add all missing fields from master
  backend/internal/domain/job.go
Due: gofmt, go-vet

Reduces minimum ECS tasks
  infrastructure/variables.tf
Due: none

feat: implement functional chat interface and video refinement
  frontend/.DS_Store
  frontend/src/.DS_Store
  frontend/src/components/create/GenerationState.jsx
  frontend/src/components/workspace/ChatInterface.jsx
  frontend/src/components/workspace/RefinementModal.jsx
  frontend/src/components/workspace/VideoMetadata.jsx
  frontend/src/components/workspace/VideoPlayer.jsx
  frontend/src/pages/Workspace.jsx
  frontend/src/styles/workspace.css
Due: none

another fix to sort gpt4o parsing and generation
  backend/internal/adapters/gpt4o_adapter.go
Due: gofmt, go-vet

Fix critical authentication issues preventing persistent sessions
  backend/cmd/api/main.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/api/handlers/auth.go
  frontend/src/contexts/AuthContext.jsx
  frontend/src/utils/api.js
Due: swagger-gen, gofmt, go-vet

feat: implement functional chat interface and video refinement
  frontend/src/components/workspace/ChatInterface.jsx
  frontend/src/components/workspace/RefinementModal.jsx
  frontend/src/pages/Workspace.jsx
Due: none

Add brand preset integration between Dashboard and Create page
  frontend/src/pages/Create.jsx
  frontend/src/pages/Dashboard.jsx
Due: none

add some logging to see how JSON is buggin
  backend/internal/adapters/gpt4o_adapter.go
Due: gofmt, go-vet

leave start image url alone GPT
  backend/internal/adapters/gpt4o_adapter.go
Due: gofmt, go-vet

Update timeline to use real job data, improve create page UI, add onboarding
  frontend/index.html
  frontend/public/favicon.svg
  frontend/src/App.jsx
  frontend/src/components/FeatureCard.jsx
  frontend/src/components/Logo.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/OnboardingSection.jsx
  frontend/src/components/ProtectedRoute.jsx
  frontend/src/components/Sidebar.jsx
  frontend/src/components/create/MediaUploadBar.jsx
  frontend/src/components/workspace/ScriptEditor.jsx
  frontend/src/components/workspace/Timeline.jsx
  frontend/src/pages/Create.jsx
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/Landing.jsx
  frontend/src/pages/Onboarding.jsx
  frontend/src/pages/Workspace.jsx
  frontend/src/styles/aurora.css
  frontend/src/styles/auth.css
  frontend/src/styles/create.css
  frontend/src/styles/dashboard.css
  frontend/src/styles/global.css
  frontend/src/styles/landing.css
  frontend/src/styles/navbar.css
  frontend/src/styles/not-found.css
  frontend/src/styles/onboarding.css
  frontend/src/styles/settings.css
  frontend/src/styles/videos.css
  frontend/src/styles/workspace.css
  frontend/src/utils/recentVideos.js
Due: none

Remove all mock data and protect all routes with authentication
  frontend/src/App.jsx
  frontend/src/contexts/AuthContext.jsx
  frontend/src/pages/Workspace.jsx
  frontend/src/utils/mockGenerationData.js
Due: none

Fix timeline width and scenes display
  frontend/src/components/workspace/Timeline.jsx
  frontend/src/pages/Workspace.jsx
  frontend/src/styles/workspace.css
Due: none

Improve timeline: dynamic intervals, full width, and scenes extraction
  frontend/src/components/workspace/Timeline.jsx
Due: none

feat: implement dynamic timeline width based on video duration
  frontend/src/components/workspace/Timeline.jsx
  frontend/src/styles/workspace.css
Due: none

feat: refactor create page for pharmaceutical ads
  frontend/src/components/ProtectedRoute.jsx
  frontend/src/components/create/BatchGenerationToggle.jsx
  frontend/src/pages/Create.jsx
  frontend/src/styles/create.css
  frontend/src/styles/dashboard.css
Due: none

Implement comprehensive S3 asset management and progress tracking system
  .gitignore
  backend/cmd/api/main.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/go.mod
  backend/internal/api/handlers/generate_async.go
  backend/internal/api/handlers/jobs.go
  backend/internal/api/handlers/jobs_stream.go
  backend/internal/api/handlers/progress.go
  backend/internal/api/server.go
  backend/internal/domain/job.go
  backend/internal/repository/dynamodb.go
  backend/internal/repository/interfaces.go
  backend/internal/service/asset_service.go
Due: swagger-gen, gofmt, go-vet

Merge /stream and /progress endpoints into single SSE streaming endpoint
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/api/handlers/jobs_stream.go
  backend/internal/api/handlers/progress.go
  backend/internal/api/server.go
Due: swagger-gen, gofmt, go-vet

feat: integrate timeline with backend API fields
  frontend/src/components/workspace/Timeline.jsx
  frontend/src/pages/Workspace.jsx
Due: none

feat: integrate pharmaceutical ads UI with backend API
  frontend/src/pages/Create.jsx
Due: none

Add video deletion functionality for DynamoDB and S3
  backend/internal/api/handlers/jobs.go
  backend/internal/api/server.go
  backend/internal/repository/dynamodb.go
  backend/internal/repository/interfaces.go
  backend/internal/repository/s3.go
Due: swagger-gen, gofmt, go-vet

Enable frontend route authentication
  frontend/src/components/ProtectedRoute.jsx
Due: none

Add real-time progress tracking for video generation
  CURSOR_PROMPT_PROGRESS.md
  frontend/src/components/create/ProgressModal.jsx
  frontend/src/pages/Create.jsx
  frontend/src/styles/progress-modal.css
  frontend/src/utils/format.js
  frontend/src/utils/sse.js
Due: none

minor
  backend/internal/api/handlers/jobs.go
Due: swagger-gen, gofmt, go-vet

ignore CodeLayer yapping
  .gitignore
Due: none

add some more logging to minimax adapter.go to see how its failing
  backend/internal/adapters/minimax_adapter.go
Due: gofmt, go-vet

CURRENT STATE OF APP AGAINST PROJECT REQUIREMENTS
  REQUIREMENTS_PROGRESS.md
Due: none

Improves video generation progress updates
  .github/workflows/infrastructure.yml
  Makefile
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/api/handlers/jobs.go
  backend/internal/api/handlers/progress.go
  frontend/bun.lock
  frontend/package-lock.json
  frontend/src/components/create/GenerationState.jsx
  frontend/src/components/create/ProgressModal.jsx
  frontend/src/components/create/ScenePreviewGrid.jsx
  frontend/src/hooks/useJobProgress.js
  frontend/src/pages/Create.jsx
  frontend/src/styles/create.css
  frontend/src/styles/dashboard.css
  frontend/src/styles/progress-modal.css
  frontend/src/utils/sse.js
  frontend/src/utils/stageIcons.js
Due: swagger-gen, gofmt, go-vet

Add UI improvements: disabled states during generation and styling polish
  frontend/src/components/create/MediaUploadBar.jsx
  frontend/src/pages/Create.jsx
  frontend/src/styles/create.css
  frontend/src/styles/dashboard.css
Due: none

docs: Add Pharmaceutical Ad Generator PRD and Task List
  docs/PHARMACEUTICAL_AD_GENERATOR_PRD.md
  docs/PHARMACEUTICAL_AD_GENERATOR_TASK_LIST.md
Due: none

docs: Update PRD and Task List for 4-track architecture
  docs/PHARMACEUTICAL_AD_GENERATOR_PRD.md
  docs/PHARMACEUTICAL_AD_GENERATOR_TASK_LIST.md
Due: none

Add UI improvements: remove stat card animations and improve form styling
  frontend/src/components/StatCard.jsx
  frontend/src/components/workspace/VideoMetadata.jsx
  frontend/src/pages/Create.jsx
Due: none

Refactors video generation with adapter pattern
  .taskmaster/docs/mvp-prd.md
  .taskmaster/docs/mvp-quick-reference.md
  .taskmaster/docs/prd.txt
  .taskmaster/docs/ui-tasklist.md
  backend/.env.example
  backend/README.md
  backend/cmd/api/main.go
  backend/internal/adapters/adapter_factory.go
  backend/internal/adapters/veo_adapter.go
  backend/internal/adapters/video_generator.go
  backend/internal/api/handlers/generate.go
  backend/internal/api/handlers/generate_async.go
  backend/internal/api/server.go
  backend/internal/prompts/ad_script_prompt.go
  backend/internal/service/parser.go
  infrastructure/main.tf
  infrastructure/modules/compute/task-definition.tf
  infrastructure/modules/compute/variables.tf
  infrastructure/variables.tf
Due: swagger-gen, gofmt, go-vet

Add pharmaceutical prompt guidance, remove unused enhancement system
  backend/internal/adapters/gpt4o_adapter.go
  backend/internal/api/handlers/generate.go
  backend/internal/api/handlers/generate_async.go
  backend/internal/domain/job.go
  backend/internal/prompts/ad_script_prompt.go
  backend/internal/prompts/ad_script_prompt_test.go
  backend/internal/service/parser.go
Due: swagger-gen, gofmt, go-vet

Fix timeline horizontal scrolling by using responsive width
  frontend/src/components/workspace/Timeline.jsx
Due: none
