Repository ppiont/omnigen: changes, and which pre-commit hooks are due for each by the changed paths.
All: swagger-gen, gofmt, go-vet

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
repos:
  # Local hooks for this repository
  - repo: local
    hooks:
      # Regenerate Swagger docs when handler files change
      - id: swagger-gen
        name: Regenerate Swagger docs
        entry: bash -c 'cd backend && swag init -g cmd/api/main.go -o docs'
        language: system
        files: ^backend/internal/api/handlers/.*\.go$
        pass_filenames: false
        verbose: true

      # Format Go code
      - id: gofmt
        name: Go Format
        entry: gofmt -w
        language: system
        files: \.go$
        pass_filenames: true

      # Run Go vet
      - id: go-vet
        name: Go Vet
        entry: bash -c 'cd backend && go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^backend/docs/swagger\.json$  # Exclude generated Swagger JSON
      - id: check-yaml
        exclude: ^backend/docs/swagger\.yaml$  # Exclude generated Swagger YAML
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']

up
  backend/cmd/api/main.go
  backend/cmd/lambdas/audio-generator/main.go
  backend/cmd/lambdas/composer/main.go
  backend/cmd/lambdas/generator/main.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/adapters/musicgen_adapter.go
  backend/internal/api/handlers/generate.go
  backend/internal/api/middleware/request_size.go
  backend/internal/api/server.go
  backend/internal/auth/cookies.go
  backend/internal/auth/jwt.go
  backend/internal/auth/ratelimit.go
  backend/internal/domain/job.go
  backend/internal/service/secrets.go
  backend/pkg/retry/retry.go
  backend/statemachine/workflow.asl.json
Due: swagger-gen, gofmt, go-vet

Replace mock data with real API calls and add comprehensive logging
  frontend/src/pages/Create.jsx
  frontend/src/pages/Workspace.jsx
  frontend/src/utils/api.js
Due: none

Fix polling intervals to prevent rate limit errors
  frontend/src/pages/Create.jsx
Due: none

Removes mock mode
  backend/Makefile
  backend/cmd/api/main.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/api/handlers/generate.go
  backend/internal/api/handlers/jobs.go
  backend/internal/api/handlers/parser.go
  backend/internal/api/handlers/presets.go
  backend/internal/api/handlers/progress.go
  backend/internal/api/server.go
  backend/internal/service/mock.go
Due: swagger-gen, gofmt, go-vet

Refactors video generation pipeline for improved quality
  .gitignore
  backend/.env.example
  backend/Makefile
  backend/cmd/lambdas/audio-generator/main.go
  backend/cmd/lambdas/composer/main.go
  backend/cmd/lambdas/generator/main.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/adapters/minimax_adapter.go
  backend/internal/api/handlers/generate.go
  backend/internal/api/server.go
  backend/internal/domain/job.go
  infrastructure/modules/serverless/lambda-placeholders/audio-generator.js
  infrastructure/modules/serverless/lambda-placeholders/parser.js
  infrastructure/modules/serverless/step-functions.tf
Due: swagger-gen, gofmt, go-vet

Add comprehensive stage-by-stage logging to match GENERATE_README.md
  docs/GENERATE_README.md
  frontend/src/pages/Create.jsx
  frontend/src/styles/dashboard.css
Due: none

Remove parse step and call /api/v1/generate directly
  frontend/src/pages/Create.jsx
Due: none

Remove parse step and call /api/v1/generate directly
  frontend/src/pages/Create.jsx
  frontend/src/styles/dashboard.css
Due: none

feat: add backend endpoints and local workspace fallback
  backend/cmd/api/main.go
  backend/internal/adapters/llama_adapter.go
  backend/internal/api/handlers/jobs.go
  backend/internal/api/server.go
  backend/internal/aws/config.go
  backend/internal/repository/dynamodb.go
  backend/internal/repository/s3.go
  frontend/src/App.jsx
  frontend/src/components/ProtectedRoute.jsx
  frontend/src/components/VideoCard.jsx
  frontend/src/contexts/AuthContext.jsx
  frontend/src/pages/VideoLibrary.jsx
  frontend/src/pages/Workspace.jsx
  frontend/src/styles/videos.css
Due: swagger-gen, gofmt, go-vet

Remove parse step and fix 501 error handling
  frontend/src/pages/Create.jsx
Due: none

feat: implement password change endpoint
  backend/internal/api/handlers/auth.go
  backend/internal/api/server.go
  frontend/src/pages/Settings.jsx
  frontend/src/services/cognito.js
  frontend/src/utils/api.js
Due: swagger-gen, gofmt, go-vet

feat: implement password change endpoint
  backend/cmd/api/main.go
  backend/internal/api/handlers/jobs.go
  backend/internal/aws/config.go
Due: swagger-gen, gofmt, go-vet

Remove local development mode changes
  frontend/src/App.jsx
  frontend/src/components/ProtectedRoute.jsx
  frontend/src/contexts/AuthContext.jsx
  frontend/src/pages/Workspace.jsx
  frontend/src/services/cognito.js
Due: none

Fix Settings.jsx build error by removing Cognito dependency
  frontend/src/pages/Settings.jsx
Due: none

Fix workflow syntax - remove duplicate push trigger
  .github/workflows/backend.yml
Due: none

Fix Create page to use /api/v1/generate endpoint correctly
  frontend/src/pages/Create.jsx
Due: none

fixes
  .github/workflows/backend.yml
  .gitignore
  backend/internal/adapters/kling_adapter.go
  backend/internal/api/handlers/generate_async.go
Due: swagger-gen, gofmt, go-vet

Fix JobResponse struct fields after merge
  backend/internal/api/handlers/jobs.go
Due: swagger-gen, gofmt, go-vet

Improves video generation reliability and logging
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/adapters/kling_adapter.go
  backend/internal/adapters/minimax_adapter.go
  backend/internal/api/handlers/generate.go
  backend/internal/api/handlers/generate_async.go
  backend/internal/api/handlers/parser.go
  backend/internal/api/middleware/logging.go
  backend/internal/api/server.go
  backend/internal/auth/middleware.go
  backend/internal/prompts/ad_script_prompt.go
  backend/internal/repository/dynamodb.go
Due: swagger-gen, gofmt, go-vet

Add architecture documentation for scripts and logging
  backend/LOGGING_ARCHITECTURE.md
  backend/SCRIPTS_ARCHITECTURE.md
Due: none

Fix video library and workspace integration
  frontend/src/pages/VideoLibrary.jsx
  frontend/src/pages/Workspace.jsx
Due: none

Implement GET /api/v1/jobs endpoint for job history
  backend/internal/api/handlers/jobs.go
Due: swagger-gen, gofmt, go-vet

hopefully fix USER in navbar not populating with actual username + email
  backend/internal/api/handlers/auth.go
  backend/internal/domain/user.go
  frontend/src/components/Navbar.jsx
Due: swagger-gen, gofmt, go-vet

Refactors jobs API to embed scripts in job records
  backend/.env.example
  backend/JOBS_API_ENHANCEMENT.md
  backend/MIGRATION_COMPLETE.md
  backend/cmd/api/main.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/api/handlers/generate_async.go
  backend/internal/api/handlers/jobs.go
  backend/internal/domain/job.go
  backend/internal/repository/dynamodb.go
  backend/internal/repository/interfaces.go
  backend/internal/service/parser.go
  infrastructure/main.tf
  infrastructure/modules/compute/task-definition.tf
  infrastructure/modules/compute/variables.tf
  infrastructure/modules/iam/ecs-roles.tf
  infrastructure/modules/iam/variables.tf
  infrastructure/modules/storage/dynamodb.tf
  infrastructure/modules/storage/outputs.tf
Due: swagger-gen, gofmt, go-vet

Removes test execution from backend workflow
  .github/workflows/backend.yml
Due: none

arm64 runner test
  .github/workflows/backend.yml
  backend/cmd/api/main.go
Due: gofmt, go-vet

give better hint for password requirements
  frontend/src/contexts/AuthContext.jsx
  frontend/src/pages/Signup.jsx
Due: none

more immediate feedback on meeting password requirements when making new account
  frontend/src/components/PasswordStrength.jsx
  frontend/src/pages/Signup.jsx
  frontend/src/styles/auth.css
Due: none

add routing for when account was created but code verification page lost
  frontend/src/App.jsx
  frontend/src/pages/Verify.jsx
Due: none

more graceful handling at landing page for when a user is logged in - ie dont show 401 unauthorized access in console
  frontend/src/utils/api.js
Due: none

comment out unused create page brand and category components
  frontend/src/pages/Create.jsx
Due: none

comment out Loop and Enhance nonfunctional options
  frontend/src/pages/Create.jsx
Due: none

adding enhanced gpt prompting
  backend/internal/adapters/gpt4o_adapter.go
  backend/internal/api/handlers/generate.go
  backend/internal/api/handlers/generate_async.go
  backend/internal/domain/job.go
  backend/internal/prompts/ad_script_prompt.go
  backend/internal/service/parser.go
  frontend/src/pages/Create.jsx
Due: swagger-gen, gofmt, go-vet

fixing status handling for gpt4o adapter
  backend/internal/adapters/gpt4o_adapter.go
Due: gofmt, go-vet

fix not waiting for gpt to finish answer
  backend/internal/adapters/gpt4o_adapter.go
Due: gofmt, go-vet

another fix for timeout issues for gpt4o
  backend/internal/adapters/gpt4o_adapter.go
Due: gofmt, go-vet
