Repository ppiont/omnigen: changes, and which pre-commit hooks are due for each by the changed paths.
All: swagger-gen, gofmt, go-vet

swagger-gen:
  name: Regenerate Swagger docs
  entry: bash -c 'cd backend && swag init -g cmd/api/main.go -o docs'
  language: system
  pass_filenames: false
  verbose: true

gofmt:
  name: Go Format
  entry: gofmt -w
  language: system
  pass_filenames: true

go-vet:
  name: Go Vet
  entry: bash -c 'cd backend && go vet ./...'
  language: system
  pass_filenames: false

feat: make video model name dynamic in VideoMetadata component
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/api/handlers/generate.go
  backend/internal/api/handlers/jobs.go
  backend/internal/domain/job.go
  frontend/src/components/workspace/VideoMetadata.jsx
Due: swagger-gen, gofmt, go-vet

ahhhh one more go at it fixing the thumbnail url
  backend/internal/api/handlers/generate_async.go
Due: swagger-gen, gofmt, go-vet

fix extracts3key to handle url-encoded query params
  backend/internal/service/asset_service.go
Due: gofmt, go-vet

upd doc files
  REQUIREMENTS_PROGRESS.md
  pipeline.md
Due: none

Add retry logic to all external API adapters
  backend/internal/adapters/gpt4o_adapter.go
  backend/internal/adapters/minimax_adapter.go
  backend/internal/adapters/veo_adapter.go
  backend/pkg/retry/retry.go
Due: gofmt, go-vet

Add dynamic cost estimation with real-time updates
  frontend/src/pages/Create.jsx
  frontend/src/styles/dashboard.css
Due: none

Fix video deletion: enable for all statuses and fix 500 error
  backend/internal/api/handlers/jobs.go
  frontend/src/components/VideoCard.jsx
Due: swagger-gen, gofmt, go-vet

Add FPS interpolation to convert 24fps video to 30fps
  backend/internal/api/handlers/generate_async.go
Due: swagger-gen, gofmt, go-vet

feat(backend): Add scene regeneration API and WebM export
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/api/handlers/generate_async.go
  backend/internal/api/handlers/jobs.go
  backend/internal/api/handlers/regenerate.go
  backend/internal/api/handlers/video_processing.go
  backend/internal/api/server.go
  backend/internal/domain/job.go
  backend/internal/repository/dynamodb.go
  backend/internal/repository/interfaces.go
Due: swagger-gen, gofmt, go-vet

feat(frontend): Add scene panel with regeneration and export dropdown
  frontend/src/components/workspace/ActionsToolbar.jsx
  frontend/src/components/workspace/ScenePanel.jsx
  frontend/src/pages/Workspace.jsx
  frontend/src/styles/workspace.css
  frontend/src/utils/api.js
Due: none

feat(infra): Add local development environment with Docker Compose
  Makefile
  backend/Dockerfile.local
  backend/internal/auth/middleware.go
  backend/internal/aws/config.go
  docker-compose.yml
  frontend/Dockerfile.local
  infrastructure/localstack/init-aws.sh
Due: gofmt, go-vet

calling that as existing minimally the 30 fps with ffmpeg
  REQUIREMENTS_PROGRESS.md
Due: none

add delete role to ecs
  infrastructure/modules/iam/ecs-roles.tf
Due: none

upd
  REQUIREMENTS_PROGRESS.md
  backend/internal/api/handlers/generate.go
Due: swagger-gen, gofmt, go-vet

upd reqs progress
  REQUIREMENTS_PROGRESS.md
Due: none

feat: Implement comprehensive brand guidelines system for ads
  backend/internal/adapters/gpt4o_adapter.go
  backend/internal/api/handlers/brand_guidelines.go
  backend/internal/api/handlers/generate.go
  backend/internal/api/handlers/generate_async.go
  backend/internal/api/handlers/upload.go
  backend/internal/domain/brand_guidelines.go
  backend/internal/repository/dynamodb_brand_guidelines.go
  backend/internal/repository/interfaces.go
  backend/internal/service/parser.go
  frontend/src/components/create/BrandGuidelineUpload.jsx
  frontend/src/styles/create.css
  frontend/src/utils/api.js
Due: swagger-gen, gofmt, go-vet

Add content moderation filtering for Veo 3.1
  backend/internal/adapters/veo_adapter.go
  backend/internal/prompts/ad_script_prompt.go
Due: gofmt, go-vet

feature: implement two-pass pharmaceutical narration with tiered disclaimers
  backend/cmd/api/main.go
  backend/internal/adapters/gpt4o_adapter.go
  backend/internal/adapters/gpt4o_adapter_test.go
  backend/internal/adapters/tts_adapter.go
  backend/internal/adapters/tts_adapter_test.go
  backend/internal/api/handlers/generate.go
  backend/internal/api/handlers/generate_async.go
  backend/internal/api/handlers/generate_test.go
  backend/internal/api/handlers/regenerate.go
  backend/internal/api/handlers/video_processing.go
  backend/internal/api/server.go
  backend/internal/domain/job.go
  backend/internal/domain/script.go
  backend/internal/service/disclaimer_service.go
  backend/internal/service/disclaimer_service_test.go
Due: swagger-gen, gofmt, go-vet

update status of requirements
  REQUIREMENTS_PROGRESS.md
Due: none

remove AI slop plan
  CURSOR_PROMPT_PROGRESS.md
Due: none

Fix Makefile swagger target to use full swag path
  Makefile
Due: none

Add generated Swagger API documentation
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
Due: gofmt, go-vet

Switch video generation from Veo 3.1 to Kling V2.5 Turbo Pro
  backend/cmd/api/main.go
  backend/internal/adapters/adapter_factory.go
  backend/internal/adapters/kling_adapter.go
  backend/internal/api/handlers/generate.go
  backend/internal/api/handlers/generate_async.go
  backend/internal/api/handlers/regenerate.go
  backend/internal/api/server.go
  backend/internal/prompts/ad_script_prompt.go
Due: swagger-gen, gofmt, go-vet

Fix retry.Do calls in Kling adapter - add context and config parameters
  backend/internal/adapters/kling_adapter.go
Due: gofmt, go-vet

Fix retry.Do calls in Kling adapter - add context and config
  backend/internal/adapters/kling_adapter.go
Due: gofmt, go-vet

Fix Kling adapter: use Bearer auth, add 422 error logging, constrain durations to 5/10s
  backend/internal/adapters/kling_adapter.go
Due: gofmt, go-vet

Fix: Exclude /auth/me from automatic token refresh to prevent errors on login page
  frontend/src/contexts/AuthContext.jsx
  frontend/src/utils/api.js
Due: none

Fix Kling adapter HTTP 422 errors: update prompt constraints and improve error handling
  backend/internal/adapters/kling_adapter.go
  backend/internal/prompts/ad_script_prompt.go
Due: gofmt, go-vet

improve post processing of video especially adding fade out at end and end card
  backend/internal/api/handlers/generate.go
  backend/internal/api/handlers/generate_async.go
  backend/internal/api/handlers/generate_async_test.go
  backend/internal/domain/job.go
Due: swagger-gen, gofmt, go-vet

Fix Kling adapter: dynamically fetch model version from Replicate API
  backend/internal/adapters/kling_adapter.go
Due: gofmt, go-vet

update current state of reqs
  REQUIREMENTS_PROGRESS.md
Due: none

feat: add job progress preview ui
  backend/Dockerfile.local
  frontend/package-lock.json
  frontend/src/App.jsx
  frontend/src/components/progress/AudioPreview.jsx
  frontend/src/components/progress/JobProgressPreview.jsx
  frontend/src/components/progress/ScenePreview.jsx
  frontend/src/hooks/useJobProgress.js
  frontend/src/pages/JobDetails.jsx
  frontend/src/pages/VideoLibrary.jsx
  frontend/src/styles/dashboard.css
Due: none

Fix hanging and SSE 401 authentication issues
  backend/internal/adapters/kling_adapter.go
  backend/internal/api/handlers/progress.go
Due: swagger-gen, gofmt, go-vet

feat: add job intervention capabilities (pause/resume/edit)
  backend/internal/api/handlers/generate_async.go
  backend/internal/api/handlers/jobs.go
  backend/internal/api/server.go
  backend/internal/domain/job.go
  frontend/src/components/intervention/JobControls.jsx
  frontend/src/components/intervention/ParameterEditor.jsx
  frontend/src/components/intervention/SceneEditor.jsx
  frontend/src/components/progress/JobProgressPreview.jsx
  frontend/src/hooks/useJobIntervention.js
  frontend/src/pages/JobDetails.jsx
  frontend/src/services/jobInterventionAPI.js
Due: swagger-gen, gofmt, go-vet

Path conditions:
  swagger-gen: any of: ^backend/internal/api/handlers/.*\.go$
  gofmt: any of: \.go$
  go-vet: any of: \.go$
