Repository ppiont/omnigen: changes, and which pre-commit hooks are due for each by the changed paths.
All: swagger-gen, gofmt, go-vet

swagger-gen:
  name: Regenerate Swagger docs
  entry: bash -c 'cd backend && swag init -g cmd/api/main.go -o docs'
  language: system
  pass_filenames: false
  verbose: true

gofmt:
  name: Go Format
  entry: gofmt -w
  language: system
  pass_filenames: true

go-vet:
  name: Go Vet
  entry: bash -c 'cd backend && go vet ./...'
  language: system
  pass_filenames: false

re-adding bc of accidentally too deep commit history reset
  .gitignore
  frontend/src/pages/Create.jsx
Due: none

Fix thumbnail presigning in Jobs API
  backend/internal/api/handlers/jobs.go
Due: swagger-gen, gofmt, go-vet

Fix thumbnail double-presigning for multi-scene jobs
  backend/internal/api/handlers/generate_async.go
  backend/internal/api/handlers/jobs.go
  backend/internal/service/asset_service.go
Due: swagger-gen, gofmt, go-vet

Add pipeline architecture overview documentation
  docs/ARCHITECTURE_OVERVIEW.md
Due: none

feat: Unify secrets management with explicit ARN variables
  .github/workflows/infrastructure.yml
  backend/cmd/api/main.go
  backend/internal/service/secrets.go
  infrastructure/main.tf
  infrastructure/modules/compute/task-definition.tf
  infrastructure/modules/compute/variables.tf
  infrastructure/modules/iam/ecs-roles.tf
  infrastructure/modules/iam/variables.tf
  infrastructure/variables.tf
Due: gofmt, go-vet

feat: Reuse existing OpenAI API key secret for TTS instead of creating duplicate
  backend/internal/service/secrets.go
  infrastructure/modules/iam/ecs-roles.tf
Due: gofmt, go-vet

Refactor: Migrate from Kling to Veo 3.1
  backend/internal/adapters/gpt4o_adapter.go
  backend/internal/adapters/veo_adapter.go
  backend/internal/adapters/video_generator.go
  backend/internal/api/handlers/constants.go
  backend/internal/api/handlers/generate_async.go
  backend/internal/domain/script.go
  backend/internal/prompts/ad_script_prompt.go
  backend/internal/service/parser.go
  backend/internal/service/secrets.go
  infrastructure/.terraform.lock.hcl
Due: swagger-gen, gofmt, go-vet

Add local development seed scripts for DynamoDB sample data
  backend/scripts/README.md
  backend/scripts/seed-multiple-videos.sh
  backend/scripts/seed-sample-video.sh
Due: none

feat: Implement complete video deletion with S3 batch cleanup
  backend/internal/api/handlers/jobs.go
Due: swagger-gen, gofmt, go-vet

Fix video thumbnails v2
  backend/internal/api/handlers/jobs.go
Due: swagger-gen, gofmt, go-vet

Fix Makefile swagger target to use full swag path
  Makefile
Due: none

feat: Add narrator voiceover and side effects text overlay for pharmaceutical ads
  backend/Dockerfile
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/api/handlers/generate_async.go
  pipeline.md
Due: swagger-gen, gofmt, go-vet

Add generated Swagger API documentation
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
Due: gofmt, go-vet

feat: Unify OpenAI secrets management to match Replicate pattern
  .github/workflows/infrastructure.yml
  backend/cmd/api/main.go
  backend/internal/service/secrets.go
  infrastructure/main.tf
  infrastructure/modules/compute/task-definition.tf
  infrastructure/modules/compute/variables.tf
  infrastructure/modules/iam/ecs-roles.tf
  infrastructure/modules/iam/variables.tf
  infrastructure/variables.tf
Due: gofmt, go-vet

fix video thumbnail presigning, change exraction to first frame, and make the extractS3Key() function check for presigned URL
  backend/internal/api/handlers/generate_async.go
Due: swagger-gen, gofmt, go-vet

feat: implement parallel audio generation with video generation
  backend/internal/api/handlers/generate_async.go
Due: swagger-gen, gofmt, go-vet

fix: rename audioResult variable to avoid type shadowing
  backend/internal/api/handlers/generate_async.go
Due: swagger-gen, gofmt, go-vet

ignore ai slop thoughts
  .gitignore
Due: none

fix: Calculate narrator audio split time based on actual audio duration
  backend/internal/api/handlers/generate_async.go
Due: swagger-gen, gofmt, go-vet

fix: Align duration constraints with Veo 3.1 requirements
  backend/internal/adapters/veo_adapter.go
  backend/internal/prompts/ad_script_prompt.go
  frontend/src/pages/Create.jsx
Due: gofmt, go-vet

feat: Reorder pipeline to generate audio after video for accurate duration
  backend/internal/api/handlers/generate_async.go
Due: swagger-gen, gofmt, go-vet

Add pharmaceutical prompt guidance, remove unused enhancement system
  backend/internal/prompts/ad_script_prompt.go
  backend/internal/prompts/ad_script_prompt_test.go
Due: gofmt, go-vet

feat: some prompt engineering improvements
  backend/internal/adapters/gpt4o_adapter.go
  backend/internal/adapters/gpt4o_adapter_test.go
  backend/internal/domain/script.go
  backend/internal/prompts/ad_script_prompt.go
  backend/internal/prompts/ad_script_prompt_test.go
Due: gofmt, go-vet

fix: remove duplicate EnhancedPromptOptions declaration
  backend/internal/prompts/ad_script_prompt.go
Due: gofmt, go-vet

fix thumbnails again
  backend/internal/api/handlers/generate_async.go
Due: swagger-gen, gofmt, go-vet

add ignores and update requirements doc some
  .gitignore
  REQUIREMENTS_PROGRESS.md
Due: none

fix: strip query params in asset_service extractS3key
  backend/internal/service/asset_service.go
Due: gofmt, go-vet

Path conditions:
  swagger-gen: any of: ^backend/internal/api/handlers/.*\.go$
  gofmt: any of: \.go$
  go-vet: any of: \.go$
