Repository ppiont/omnigen: changes, and which pre-commit hooks are due for each by the changed paths.
All: swagger-gen, gofmt, go-vet

swagger-gen:
  name: Regenerate Swagger docs
  entry: bash -c 'cd backend && swag init -g cmd/api/main.go -o docs'
  language: system
  pass_filenames: false
  verbose: true

gofmt:
  name: Go Format
  entry: gofmt -w
  language: system
  pass_filenames: true

go-vet:
  name: Go Vet
  entry: bash -c 'cd backend && go vet ./...'
  language: system
  pass_filenames: false

finished
  backend/internal/api/server.go
Due: gofmt, go-vet

fix: resolve merge conflicts
  frontend/src/pages/JobDetails.jsx
Due: none

Fix: Make model version fetch synchronous to prevent race condition
  backend/internal/adapters/kling_adapter.go
Due: gofmt, go-vet

feat: implement timing editor with scene transitions
  frontend/src/components/editor/SceneTimingCard.jsx
  frontend/src/components/editor/TimelineVisualization.jsx
  frontend/src/components/editor/TimingEditor.jsx
  frontend/src/components/editor/TransitionSelector.jsx
  frontend/src/hooks/useTimingEditor.js
  frontend/src/services/timingAPI.js
Due: none

Improve error logging for model version fetch and add fallback
  backend/internal/adapters/kling_adapter.go
Due: gofmt, go-vet

feat: implement content caching system for scripts, audio, and scenes
  backend/cmd/api/main.go
  backend/internal/api/handlers/generate_async.go
  backend/internal/api/server.go
  backend/internal/domain/cache.go
  backend/internal/repository/redis_cache.go
  backend/internal/service/cache_service.go
  backend/internal/utils/hash.go
  frontend/src/components/admin/CacheMetrics.jsx
  frontend/src/styles/dashboard.css
Due: swagger-gen, gofmt, go-vet

fix: add missing redis dependency
  backend/go.mod
  backend/go.sum
Due: none

fix kling adapter
  backend/internal/adapters/kling_adapter.go
Due: gofmt, go-vet

fix: remove unused import
  backend/internal/repository/redis_cache.go
Due: gofmt, go-vet

fix: add cacheService to GenerateHandler struct
  backend/internal/api/handlers/generate.go
Due: swagger-gen, gofmt, go-vet

fix: remove unused import
  backend/cmd/api/main.go
Due: gofmt, go-vet

fix(ui): make download dropdown opaque white
  frontend/src/styles/workspace.css
Due: none

add info logging for minimax
  backend/internal/api/handlers/generate_async.go
Due: swagger-gen, gofmt, go-vet

try extending minimax time output for longer videos
  backend/internal/adapters/minimax_adapter.go
Due: gofmt, go-vet

add one pager breakdown of the pipeline, and also fix encoding handling for second format
  ONE_PAGER_VIDEO_PIPELINE_BREAKDOWN.md
  backend/internal/api/handlers/constants.go
  backend/internal/api/handlers/generate_async.go
Due: swagger-gen, gofmt, go-vet

Path conditions:
  swagger-gen: any of: ^backend/internal/api/handlers/.*\.go$
  gofmt: any of: \.go$
  go-vet: any of: \.go$
